<main class="container">
	<header class="header">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-4">
			{{>form}}
    </div>
    </div>
	</header>


	<h3>Likes and Dislikes</h3>
	<p> My likes:</p>
	<ul>
		<li>Favorite food: {{data.food}}</li>
		<li>the color {{data.color}}</li>
		<li>kittens</li>
		<li>puppies</li>
		<li>music</li>
		<li>coding</li>
	</ul>

	<h3>About Me</h3>
	<p>My friends say I'm {{data.faction}}. But I disagree! I am a little insane
	 though. {{data.insanity}} level of insanity, to be exact!</p>

<div class="faction-evil">
	<h3>Resume</h3>
	<ul>
		<li>The evil {{data.food}} company, 3 years</li>
		<li>Monsanto</li>
		<li>The Dangerous Animal Testing Company</li>
		<li>The Koch Brothers</li>
	</ul>
</div>

<div class="faction-good">
	<h3>Resume</h3>
	<ul>
		<li>The good {{data.food}} company, 3 years</li>
		<li>Google</li>
		<li>The Animal Shelter</li>
		<li>Red Cross International</li>
	</ul>
</div>

</main>
